<?xml version="1.0" encoding="UTF-8"?>
<!--
  WiX MSI definition skeleton. Fill in the binary source path once release
  builds exist; see scripts/build-msi.ps1 for the build entry point.
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ClipForge"
    Manufacturer="ClipForge contributors"
    Version="0.1.0.0"
    UpgradeCode="6f2f7f1e-6d0d-4e6a-9d3a-9f0a2b6e6a01">

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of ClipForge is already installed."
      Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" />
    <Icon Id="ClipForge.ico" SourceFile="packaging\windows\icon.ico" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ClipForge">
        <Component Id="MainExecutable" Guid="*">
          <File Id="ClipForgeExe" Source="target\release\clipforge-app.exe" KeyPath="yes">
            <Shortcut
              Id="StartMenuShortcut"
              Directory="ApplicationProgramsFolder"
              Name="ClipForge"
              Description="Launch ClipForge"
              WorkingDirectory="INSTALLFOLDER"
              Icon="ClipForge.ico"
              IconIndex="0"
              Advertise="yes" />
          </File>
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        </Component>
        <Component Id="LibMpvRuntime" Guid="*">
          <File Id="LibMpvDll" Source="target\release\libmpv-2.dll" KeyPath="yes" />
        </Component>
        <Component Id="FfmpegRuntime" Guid="*">
          <File Id="FfmpegExe" Source="target\release\ffmpeg.exe" KeyPath="yes" />
        </Component>
        <Component Id="FfprobeRuntime" Guid="*">
          <File Id="FfprobeExe" Source="target\release\ffprobe.exe" KeyPath="yes" />
        </Component>
        <Component Id="FfmpegLicense" Guid="*">
          <File Id="FfmpegLicenseFile" Source="target\release\FFmpeg-LICENSE.txt" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="ClipForge" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="LibMpvRuntime" />
      <ComponentRef Id="FfmpegRuntime" />
      <ComponentRef Id="FfprobeRuntime" />
      <ComponentRef Id="FfmpegLicense" />
    </ComponentGroup>
  </Package>
</Wix>
